<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
  Loading ...
</section>

<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6 col-xs-offset-2">
      <gosh-add-event [categories]="categories"></gosh-add-event>
    </div>

    <div class="col-md-6 col-xs-offset-2">
      <gosh-add-category (onCategoryAdd)="newCategoryAdded($event)"></gosh-add-category>
    </div>

    <div class="col-md-6 col-xs-offset-2">
      <gosh-edit-category
        [categories]="categories"
        (onCategoryEdit)="categoryWasEdited($event)"
      ></gosh-edit-category>
    </div>
  </div>
</section>
